<% include ../../partials/boilerplate %>

<div class="genre">
  <h1><%=genre.name%></h1>
</div>

<div class="row">
<% textbooks.forEach((textbook) => { %>
<div class="textbook">
  <a href="/textbooks/<%=textbook.id%>"><img src="<%=textbook.img%>" width="250"/></a>
  <h3><%=textbook.title%></h3>
  <p> Price: <%=textbook.price%></p>
</div>

<% }) %>

</div>

<% include ../../partials/end %>
